<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Balls">

    <application
        android:allowBackup="true"
        android:icon="@drawable/naveprova"
        android:label="Eating whale!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SPERIAMO">
        <activity
            android:name=".personalizzazione"
            android:exported="true" />
        <activity
            android:name=".Negozio"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Risultato"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".inizio"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notifica" />

    </application>
    <uses-permission android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />

</manifest>